@page
@{
    var student = ViewBag.student as Student;
    Layout = "_StuLayout";
}

<section class="panel">
    <header class="panel-heading">
        个人基本信息修改
    </header>
    <div class="panel-body">
        <div class="form-horizontal " action="#">
            <form action="@Url.Action("ChangeInfor","Student")" method="post">
                <input type="text" name="Sno" value=@student.Sno  style="display:none" />
                <div class="form-group">
                    <label class="control-label col-sm-4">姓名</label>
                    <div class="col-sm-6">
                        <p size="16" class="form-control">@student.Sname</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">年龄</label>
                    <div class="col-sm-6">
                        <p size="16" class="form-control">@student.Sage</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">性别</label>
                    <div class="col-sm-6">
                        <p size="16" class="form-control">@student.Ssex</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">出生日期</label>
                    <div class="col-sm-6">
                        <p size="16" class="form-control">@student.Sbirthday</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">家庭住址</label>
                    <div class="col-sm-6">
                        <p size="16" class="form-control">
                            <input type="text" name="Saddress" value=@student.Saddress />                        
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">联系电话</label>
                    <div class="col-sm-6">
                        <p size="16" class="form-control">
                            <input type="text" name="Sphone" value=@student.Sphone />
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary" style="display:block;margin:0 auto">提交</button>
                </div>
            </form>
        </div>
     </div>
</section>
